* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg {
  background-image: url('./images/ny.jpg');
  /* height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.header {
  font-size: 30px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080,
    0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.main {
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00ffff, 0 0 30px #00ffff,
    0 0 40px #00ffff, 0 0 55px #00ffff, 0 0 75px #00ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.main-one {
  font-size: 35px;
}

.main-two {
  font-size: 25px;
}

.scores {
  display: flex;
  text-align: center;
}

.player-score {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #def700, 0 0 30px #def700,
    0 0 40px #def700, 0 0 55px #def700, 0 0 75px #def700;
}

.computer-score {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080,
    0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

.choices {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.transition {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.hover:hover {
  transform: scale(1.1);
}

.hover-big:hover {
  transform: scale(1.5);
}

img {
  border-radius: 10px;
}

.hidden {
  display: none;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
}

.neon-button {
  align-self: center;
}

/* Additional styling */

.neon-body {
  font-size: 18px;
  font-family: 'Vibur', sans-serif;
  background-color: #010a01;
}

.neon-h1,
.neon-h2 {
  text-align: center;
  font-weight: 400;
  line-height: 1;
}

.neon-h1 {
  font-size: 6.2rem;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

.neon-h2 {
  font-size: 1.8rem;
  transition: all 2s ease;
  cursor: pointer;
  animation: grow 2s ease-in-out infinite alternate;
}

.container {
  align-self: center;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }

  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
